<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Pre-Hispanic Philippines</title>

  <!-- CSS Styles and Fonts -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC:700|Roboto:400,400i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="CSS/Styles.css">

  <!-- Vue -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script> -->

  <!-- Javascript Links -->

  <link rel="shortcut icon" href="Images/favicon.ico">
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">

      <a class="navbar-brand logo" href="/"><img src="Images/P-H_P Logo.png" alt="">Pre-Hispanic Philippines</a>
      <div class="nav-links">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="lowland">Lowland</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="highland">Highland</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="quiz">Quiz</a>
          </li>

        </ul>
      </div>

    </div>

  </nav>
