<%- include('partials/header') -%>

<section class="about-page">
  <div class="my-photo">
  </div>
  <div class="about-description-container">
    <div class="about-description general-padding">
      <h1>About</h1>
      <p>I created this site with a desire to explore and share my heritage. I've always been fascinated with history but finding sources on ancient Filipino history has proven to be complicated. Certain ethnolinguistic groups had more information to be found than others. At times, sources would contradict each other. There's much information to cover, and researching and documenting that knowledge would take a panel of experts years of hard work. The purpose of this website, instead, is to spark an interest in seeking out this knowledge. I'm no means an expert on this topic, but I tried my best to seek out credible sources. I've included additional learning resources in the Further Reading page, and I also encourage those interested in doing their research.</p>
      <a class="btn btn-lg btn-primary" type="button" href="https://gumroad.com/" target="_blank">View my Portfolio</a>
    </div>
  </div>

</section>


<%- include('partials/footer') -%>
