<%- include('partials/header') -%>

<section class="further-reading general-padding">
  <h1>Further Reading</h1>
  <div class="resources">
    <div class="books">
      <h2>Books</h2>
      <div class="book">
        <img src="Images/coastal-area.jpeg" alt="">
        <div class="book-info">
          <h3>Book 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ornare lectus sit amet est placerat in egestas erat. Tincidunt eget nullam non nisi est sit amet facilisis
            magna.</p>
        </div>
      </div>
      <div class="book">
        <img src="Images/coastal-area.jpeg" alt="">
        <div class="book-info">
          <h3>Book 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ornare lectus sit amet est placerat in egestas erat. Tincidunt eget nullam non nisi est sit amet facilisis
            magna.</p>
        </div>
      </div>
      <div class="book">
        <img src="Images/coastal-area.jpeg" alt="">
        <div class="book-info">
          <h3>Book 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ornare lectus sit amet est placerat in egestas erat. Tincidunt eget nullam non nisi est sit amet facilisis
            magna.</p>
        </div>
      </div>
    </div>
    <div class="online-articles">
      <h2>Online Articles</h2>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ornare lectus sit amet est placerat in egestas erat. Tincidunt eget nullam non nisi est sit amet facilisis
          magna.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ornare lectus sit amet est placerat in egestas erat. Tincidunt eget nullam non nisi est sit amet facilisis
          magna.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ornare lectus sit amet est placerat in egestas erat. Tincidunt eget nullam non nisi est sit amet facilisis
          magna.</li>
      </ul>
    </div>
  </div>
  <h2 class="video-header">Videos</h2>
  <div class="videos">
    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/a6u3VxQA55E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Video 1</h3>
    </div>
    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/a6u3VxQA55E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Video 2</h3>
    </div>
  </div>

</section>


<%- include('partials/footer') -%>
