<%- include('partials/header') -%>

<section class="further-reading general-padding">
  <h1>Further Reading</h1>
  <div class="resources">
    <div class="books">
      <h2>Books</h2>
      <div class="book">
        <a href="https://www.goodreads.com/book/show/7869640-history-of-the-philippines" target="_blank"><img src="Images/HistoryOfPhilippines.jpg" alt="Book cover of the History of the Philippines"></a>
        <div class="book-info">
          <a href="https://www.goodreads.com/book/show/7869640-history-of-the-philippines" target="_blank">
            <h3>A History of the Philippines</h3>
          </a>
          <h4>By: Luis H. Francia</h4>
          <p>Covers the Pre-Colonial Era to the rise of the Philippine Republic.</p>
        </div>
      </div>
      <div class="book">
        <a href="https://www.goodreads.com/book/show/1921951.The_First_Filipino?from_search=true" target="_blank"><img src="Images/TheFirstFilipino.jpg" alt="Book cover of The First Filipino"></a>
        <div class="book-info">
          <a href="https://www.goodreads.com/book/show/1921951.The_First_Filipino?from_search=true" target="_blank">
            <h3>The First Filipino</h3>
          </a>
          <h4>By: León Ma. Guerrero</h4>
          <p>A biography of Filipino hero Jose Rizal.</p>
        </div>
      </div>
      <div class="book">
        <a href="https://www.goodreads.com/book/show/2217845.History_of_the_Filipino_People?from_search=true" target="
        "><img src="Images/HistoryofFilipinos.jpg" alt="Book cover of the The History of the Filipino People"></a>
        <div class="book-info">
          <a href="https://www.goodreads.com/book/show/2217845.History_of_the_Filipino_People?from_search=true" target="_blank">
            <h3>History of the Filipino People</h3>
          </a>
          <h4>By: Teodoro A. Agoncillo</h4>
          <p>A comprehensive book covering Pre-Hispanic life to the Filipino indepence movement.</p>
        </div>
      </div>
    </div>
    <div class="online-articles">
      <h2>Online Articles</h2>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ornare lectus sit amet est placerat in egestas erat. Tincidunt eget nullam non nisi est sit amet facilisis
          magna.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ornare lectus sit amet est placerat in egestas erat. Tincidunt eget nullam non nisi est sit amet facilisis
          magna.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ornare lectus sit amet est placerat in egestas erat. Tincidunt eget nullam non nisi est sit amet facilisis
          magna.</li>
      </ul>
    </div>
  </div>
  <h2 class="video-header">Videos</h2>
  <div class="videos">
    <iframe width="515" height="315" src="https://www.youtube.com/embed/yyKl-xmxP4o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="515" height="315" src="https://www.youtube.com/embed/7LqAJoD-PpA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="videos">
    <iframe width="515" height="315" src="https://www.youtube.com/embed/Wu1p5j3nkK4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="515" height="315" src="https://www.youtube.com/embed/UHYd_17LP1g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

</section>


<%- include('partials/footer') -%>
