<%- include('partials/header') -%>

<section class="further-reading general-padding">
  <h1>Further Reading</h1>
  <div class="resources">
    <div class="books">
      <h2>Books</h2>
      <div class="book-container">
        <div class="book">
          <a href="https://www.goodreads.com/book/show/2217845.History_of_the_Filipino_People?from_search=true" target="_blank"><img src="Images/LookingForPrehispanic.jpg" alt="Book cover of Looking for the Prehispanic Philippines"></a>
          <div class="book-info">
            <a href="https://www.goodreads.com/book/show/2233134.Looking_for_the_Prehispanic_Filipino" target="_blank">
              <h3>Looking for the Prehispanic Filipino</h3>
            </a>
            <h4>William Henry Scott</h4>
            <p>A series of essays that explore different historical topics surrounding Prehispanic Philippines.</p>
          </div>
        </div>
        <div class="book">
          <a href="https://www.goodreads.com/book/show/7869640-history-of-the-philippines" target="_blank"><img src="Images/HistoryOfPhilippines.jpg" alt="Book cover of the History of the Philippines"></a>
          <div class="book-info">
            <a href="https://www.goodreads.com/book/show/7869640-history-of-the-philippines" target="_blank">
              <h3>A History of the Philippines</h3>
            </a>
            <h4>By: Luis H. Francia</h4>
            <p>Covers the Pre-Colonial Era to the rise of the Philippine Republic.</p>
          </div>
        </div>
        <div class="book">
          <a href="https://www.goodreads.com/book/show/1921951.The_First_Filipino?from_search=true" target="_blank"><img src="Images/TheFirstFilipino.jpg" alt="Book cover of The First Filipino"></a>
          <div class="book-info">
            <a href="https://www.goodreads.com/book/show/1921951.The_First_Filipino?from_search=true" target="_blank">
              <h3>The First Filipino</h3>
            </a>
            <h4>By: León Ma. Guerrero</h4>
            <p>A biography of Filipino hero Jose Rizal.</p>
          </div>
        </div>
        <div class="book">
          <a href="https://www.goodreads.com/book/show/2217845.History_of_the_Filipino_People?from_search=true" target="
          "><img src="Images/HistoryofFilipinos.jpg" alt="Book cover of the The History of the Filipino People"></a>
          <div class="book-info">
            <a href="https://www.goodreads.com/book/show/2217845.History_of_the_Filipino_People?from_search=true" target="_blank">
              <h3>History of the Filipino People</h3>
            </a>
            <h4>By: Teodoro A. Agoncillo</h4>
            <p>A comprehensive book covering Pre-Hispanic life to the Filipino indepence movement.</p>
          </div>
        </div>
      </div>

    </div>
    <div class="online-articles">
      <h2>Online Articles</h2>
      <div class="article-container">
        <div class="article">
          <a href="https://newsinfo.inquirer.net/987551/earliest-humans-arrived-in-ph-700000-years-ago" target="_blank">
            <h3>Earliest humans arrived in PH 700,000 years ago</h3>
          </a>
          <h4>Philippine Daily Inquirer</h4>
          <p>News article about stone tools found in Cagayan Valley Philippines.</p>
        </div>
        <div class="article">
          <a href="http://www.philippine-history.org/spanish-expeditions.htm" target="_blank">
            <h3>Spanish Expeditions to the Philippines</h3>
          </a>
          <h4>Philippine-History.org</h4>
          <p>Article about the four separate Spanish expeditions to explore and colonize the Philippines</p>
        </div>
        <div class="article">
          <a href="http://www.ethnicgroupsphilippines.com/" target="_blank">
            <h3>Ethnic Groups of the Philippines</h3>
          </a>
          <h4>Ethnic Groups Philippines</h4>
          <p>A non-profit website detailing the various ethnic groups of the Philippines, their languages, cultures and histories.</p>
        </div>
        <div class="article">
          <a href="https://www.ethnologue.com/country/PH" target="_blank">
            <h3>Ethnologue: Languages of the Philippines</h3>
          </a>
          <h4>Ethnologue</h4>
          <p>Website/annual publication dedicated to documenting the languages of the human race.</p>
        </div>
      </div>
    </div>
  </div>
  <h2 class="video-header">Videos</h2>
  <div class="videos">
    <iframe src="https://www.youtube.com/embed/yyKl-xmxP4o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/J1LkSE4a7Kw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/Efl7SVNhgZM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/7LqAJoD-PpA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/Wu1p5j3nkK4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/UHYd_17LP1g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

</section>


<%- include('partials/footer') -%>
