<%- include('partials/header') -%>

<section class="hero-landing" id="highland-hero">
  <div class="page-description">
    <h1 class="pageTitle">Highlands</h1>
    <p>People who settled the mountains and hills. Due to the difficulty of taking the high ground, Spanish conquistadors and missionaries found little success in ruling or influencing highland communities. Highlanders used simple tools; their
      livelihoods mainly depended on hunting and gathering, bolstered by agriculture. Some highland dwellers traded among themselves and lowland dwellers, while some preferred isolation. Under the American and Philippine governments, they were able
      to stay in their homes and keep their culture. However, most highland communities are dying out along with their practices, or are intermingling into the larger Filipino population.</p>
  </div>
</section>



<section class="highland-people" id="Aeta">

  <div class="highland-people-img-container">
    <img class="highland-people-img" id="aetaImg" src="Images/beach-filipinos.jpg" alt="">
  </div>

  <div class="filipino-group-description highland">
    <div class="highland-group-info general-padding">
      <h2>Aeta</h2>
      <p>The Aeta, also known as the Agta or Ati, are aborigines believed to have been one of the first to settle the Philippines over 30,000 years ago. The Spanish called them Negritos because of their dark skin and short stature. They lived
        scattered among the mountains of Luzon and were nomadic. The Aeta organized themselves in decentralized tribes and used iron tools. Some Aeta groups believe in one supreme deity called Apo Na who ruled over lesser spirits while some believe
        in four manifestations of the great creator.</p>
    </div>

    <div class="highland-people-gallery general-padding" id="AetaGallery">
      <img class="img-thumbnail" src="Images/beach-filipinos.jpg" alt="">
      <img class="img-thumbnail" src="Images/coastal-area.jpeg" alt="">
      <img class="img-thumbnail" src="Images/beach-filipinos.jpg" alt="">
      <img class="img-thumbnail" src="Images/beach-filipinos.jpg" alt="">

    </div>
    <button class="highland-button btn btn-lg btn-primary" id="aetaButton" type="button">View Gallery</button>

  </div>

</section>



<section class="igorot">
  <div class="igorot-intro general-padding">
    <h2>Igorot</h2>
    <p>The Igorot, sometimes called Cordilleran, is a conglomeration of six groups living in the Cordilleras mountains of Luzon. They are rice-terrace farmers and hunter-gatherers. Some were also head-hunters. The Igorot often throws communal feasts
      during special occasions. Though classified as a homogenous group by the Filipino government, they don't consider themselves as one people.</p>
  </div>
  <div id="igorotCarousel" class="carousel slide" data-interval="false">
    <ol class="carousel-indicators">
      <li data-target="#igorotCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#igorotCarousel" data-slide-to="1"></li>
      <li data-target="#igorotCarousel" data-slide-to="2"></li>
      <li data-target="#igorotCarousel" data-slide-to="3"></li>
      <li data-target="#igorotCarousel" data-slide-to="4"></li>
      <li data-target="#igorotCarousel" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner">

      <div class="carousel-item active">
        <img class="igorot-img" src="Images/beach-filipinos.jpg" alt="">
        <div class="general-padding">
          <h3>Bontok</h3>
          <p>The Bontok were head-hunters and had distinctive tattoos. Head-hunters had chest tattoos called chak-lag, while regular people had tattoos on the arms and legs called pong-o. They believed in a hierarchy of anitos
            or spirits, Lumawid the highest among them. Bontok communities were called ato, which ranged from 14-50 houses. </p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="igorot-img" src="Images/beach-filipinos.jpg" alt="">
        <div class="general-padding">
          <h3>Ibaloi</h3>
          <p>The Ibaloi was an agrarian society and continue their agricultural practices today. Their language is related to Pangasinan, a language spoken in the Pangasinan area of Luzon. They were known for throwing feasts
            for the community. The largest among them is called Pesshet, which is sponsored by the wealthy and food shared with all members. Pesshet would last for weeks during which the Ibaloi would sacrifice animals to appease the spirits.</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="igorot-img" src="Images/beach-filipinos.jpg" alt="">
        <div class="general-padding">
          <h3>Ifugao</h3>
          <p>The Ifugao derived their names from Ipugo, meaning people of the earth or mortals, distinguishing themselves from spirits. The Ifugao are best known for creating the Banaue Rice Terraces. The Ifugao arranged their societal hierarchy by wealth with the kadangyan or the elite at the top, the tagu in the middle, and the nawotwot at the bottom. The elite throws feasts for the community called hagabi. They speak four dialects and are well-known for their oral traditions.</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="igorot-img" src="Images/beach-filipinos.jpg" alt="">
        <div class="general-padding">
          <h3>Isneg</h3>
          <p>The word Isneg derives from Itneg or the people who live near the Tineg River. They are also known as the Apayao. They are thought to have originated from Southern China. They were a head-hunting society and threw feasts called say-am after a successful head-hunt. Labor was divided by sex with the men farming, building and hunting, and the women harvesting, gathering, cooking and crafting small tools. They speak Isneg and Ilongo.</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="igorot-img" src="Images/beach-filipinos.jpg" alt="">
        <div class="general-padding">
          <h3>Kalinga</h3>
          <p>The Limos-Liwan Kalinga or Kalinga for short had settled the Southern and Northern Cordilerras Mountains. They heavily ornamented themselves with distinct tattoos and were known head-hunters. They practiced both wet and dry farming. Whang-Od, the oldest living Filipino traditional tattoo artist, is well known throughout the world. She is the last practitioner of botok or hand-tapping tattoos. Filipinos and non-Filipinos alike travel to the Kalinga province for her services.</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="igorot-img" src="Images/beach-filipinos.jpg" alt="">
        <div class="general-padding">
          <h3>Kankanaey</h3>
          <p>Like the Ifugao they created sloping terraces and had similar housing styles. They were a primarily agrarian society. The Kankanaey separated their young bachelors into dap-ay, the men's dormitory, and the ebgan, the women's dormitory. There are two main dialects of Kankanaey: hard and soft speaking Kankanaey which differ in intonation. Hard and soft speakers also differ in the region they live and their cultural practices.</p>
        </div>
      </div>

    </div>
    <a class="carousel-control-prev" href="#igorotCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon carousel-icons" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#igorotCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon carousel-icons" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


</section>


<section class="highland-people" id="Ilongot">
  <div class="highland-people-img-container">
    <img class="highland-people-img" id="ilongotImg" src="Images/beach-filipinos.jpg" alt="">
  </div>

  <div class="filipino-group-description highland">
    <div class="highland-group-info general-padding">
      <h2>Ilongot</h2>
      <p>The Ilongot lived in the Sierra Madre and Caraballo Mountains. They speak Ilongot and Ilocano. The Ilongot were head hunters and often raided other settlements in mourning a lost loved one. Ilongot men often elevated their status by adventuring and returning with tales of their travels. They shared egalitarian domestic duties among men and women. The Ilongot believed in a pantheon of deities with Taon, the God of Sky being their leader.</p>
    </div>

    <div class="highland-people-gallery general-padding" id="IlongotGallery">
      <img class="img-thumbnail" src="Images/beach-filipinos.jpg" alt="">
      <img class="img-thumbnail" src="Images/coastal-area.jpeg" alt="">
      <img class="img-thumbnail" src="Images/beach-filipinos.jpg" alt="">
      <img class="img-thumbnail" src="Images/beach-filipinos.jpg" alt="">
    </div>
    <button class="highland-button btn btn-lg btn-primary" id="ilongotButton" type="button">View Gallery</button>

  </div>

</section>


<section class="palawan">

  <div class="palawan-intro general-padding">
    <h2>People of Palawan</h2>
  </div>

  <div class="palawan-container general-padding">

    <div class="card card-palawan" style="width: 21rem;">
      <div id="bantakCarousel" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="Images/highland-main-image.jpeg" class="card-img-top" alt="...">
          </div>
          <div class="carousel-item">
            <img src="Images/highland-main-image.jpeg" class="card-img-top" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#bantakCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon carousel-icons" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#bantakCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon carousel-icons" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Bantak</h5>
        <p class="card-text">Though they settled Palawan, the Batak were also found throughout Asia and were hunter-gatherers. They share similar physical features as the Aeta. The Batak believed in benevolent spirits called diwatas and malevolent spirits called panya'en. They were once nomadic, but have since settled into small villages in northeastern Palawan. There are currently less than 450 Batak left in the Philippines.</p>
      </div>
    </div>

    <div class="card card-palawan" style="width: 21rem;">
      <div id="tagbanwaCarousel" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="Images/highland-main-image.jpeg" class="card-img-top" alt="...">
          </div>
          <div class="carousel-item">
            <img src="Images/highland-main-image.jpeg" class="card-img-top" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#tagbanwaCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon carousel-icons" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#tagbanwaCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon carousel-icons" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Tagbanwa</h5>
        <p class="card-text">The Tagbanwa is one of the oldest ethnolinguistic groups in the Philippines. They are believed to be the descendants of the Tabon Man, though not much is known about them before Pigafetta wrote about them. They hunted using blowpipes and wooden arrows. They have a writing system and speak Aborlan, Calamian, Central Tagbanwa, and Palawano. The Tagbanwa live in villages numbering 45-500 people.</p>
      </div>
    </div>

    <div class="card card-palawan" style="width: 21rem;">
      <div id="batoCarousel" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="Images/highland-main-image.jpeg" class="card-img-top" alt="...">
          </div>
          <div class="carousel-item">
            <img src="Images/highland-main-image.jpeg" class="card-img-top" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#batoCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon carousel-icons" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#batoCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon carousel-icons" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Tau't Bato</h5>
        <p class="card-text">Tau't Bato means the people of the rock. The Filipino government first made contact with them as early as 1978. They live in houses with raised floors in extinct volcanos, caves and open slopes. When the government visited their homes, they found petroglyphs on caves dating as far back as 10,000 BCE. They are hunter-gatherers but are also known to cultivate cassava.</p>
      </div>
    </div>

  </div>

</section>


<%- include('partials/footer') -%>
