<%- include('partials/header') -%>


<!-- Hero section -->
<section class="hero-landing">
  <div class="page-description">
    <h1 class="pageTitle">A Brief Look in Pre-Hispanic Filipino History</h1>
  </div>

</section>


<!-- Introduction Section -->
<section class="basic-info">
  <div class="introduction">
    <p> For more than 300 years, Spain ruled over the Philippines, influencing its culture through religion, food, and the names of places and people. During their reign, the Spanish tried to convert the natives' lives as much as possible and
      suppressed, sometimes destroyed, local practices. It's no surprise that most of what we know of the Pre-Hispanic Era Philippines is from Spanish conquistadors and secondary accounts from neighboring nations. Before colonization, the islands we
      now know as the Philippines were settled by several diverse groups of people. Despite Spanish efforts to impede local culture, native languages and essential practices survived. There are about 175 Filipino <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" class="italicized info-pop" data-content="People united by a common ethnicity and language">ethnolinguistic groups</a> existing
      today. Ethnolinguistic identity is vital to Filipino culture, so it's equally important to know about its history.</p>
  </div>

  <div id="timelineCarousel" class="carousel slide carousel-fade timeline" data-interval="false">
    <ol class="carousel-indicators">
      <li data-target="#timelineCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#timelineCarousel" data-slide-to="1"></li>
      <li data-target="#timelineCarousel" data-slide-to="2"></li>
      <li data-target="#timelineCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner general-padding">
      <div class="carousel-item active">
        <div class="time-period">
          <div class="time-period-description">
            <h3>Pre-History - 900 CE</h3>
            <p>No written records exist for this period, but archaeological discoveries suggest the earliest humans arrived in the Philippine Islands as early as 700,000 years ago via land bridges. Not much is known about these early settlers. The
              most notable human remains found in the Philippines are the <a tabindex="0" class="italicized info-pop" role="button" data-toggle="popover" data-trigger="focus" data-content="Metatarsal bone found in Callao Cave belonging to an extinct human species called Homo Luzonensis">Callao Man</a>, and the <a tabindex="0" class="italicized info-pop" role="button" data-toggle="popover" data-trigger="focus" data-content="Second oldest remains in the Philippines belonging to three people found in Tabon Cave">Tabon Man</a> dated at 67,000 years old, and 16,500 years ago respectively. The more recent settlers are believed to have arrived partially via land bridges
              and short distance seafaring. It's also widely accepted that the ancestors of Filipino aboriginal groups such as the Aeta first came to the Philippines 30,000 years ago. </p>
          </div>
          <div class="time-period-img img-container" data-toggle="modal" data-target="#image-modal">
            <img class="img" src="Images/PreHistory.jpg" alt="67,000 year old metatarsal bone found in Callao Cave in the Philippines.">
            <div class="img-caption">
              <h4>Callao Man Metatarsal</h4>
              <p>Photo by <a href="https://commons.wikimedia.org/wiki/File:Homo_luzonensis_metatarsal.jpg" target="_blank">Luzonensis</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="time-period">
          <div class="time-period-description">
            <h3>900 CE - 1200 CE</h3>
            <p>Considered to be the start of the Philippines' written history. The oldest document found so far is the <a tabindex="0" class="italicized info-pop" role="button" data-toggle="popover" data-trigger="focus" data-content="Earliest document found in the Philippines dating to 900 CE written in Old Malay, Sanskrit and Old Javanese">Laguna
                Copperplate Inscription</a> dated at 900 CE. Scholars believe that the majority of the Philippine Islands' inhabitants at this
              time were immigrants or descendants of immigrants from the Malay peninsula arriving via Indonesia. The Philippines was part of Greater India, a series of empires, thalassocracies, polities, and independent states, all modeled after the
              Indian government and Hindu-Buddhist culture. Archaeological digs also suggest extensive trade with China.</p>
          </div>
          <div class="time-period-img img-container" data-toggle="modal" data-target="#image-modal">
            <img class="img" src="Images/LCI.jpg" alt="The Laguna Copperplate Inscription">
            <div class="img-caption">
              <h4>Laguna Copperplate Inscription</h4>
              <p>PD-US</p>
            </div>
          </div>

        </div>
      </div>

      <div class="carousel-item">
        <div class="time-period">
          <div class="time-period-description">
            <h3>1200 CE - 1565 CE</h3>
            <p>The start of the spread of Islam and contact with Western cultures. Most Muslim sultanates were located in the islands to the south in the modern-day Mindanao region, though there were a few to the north in Luzon. The Spanish first
              arrived in 1521 with a fleet led by the Portuguese explorer Ferdinand Magellan. With the help of his Malay slave interpreter, Ferdinand converted <a tabindex="0" class="italicized info-pop" role="button" data-toggle="popover" data-trigger="focus" data-content="Title of Indian origin equivalent to king or prince">Rajah</a> Humabon of Cebu to Catholicism. The two parties struck a temporary alliance in
              exchange for the Spanish dealing with <a tabindex="0" class="italicized info-pop" role="button" data-toggle="popover" data-trigger="focus" data-content="Title of Malay origin used across the Philippine islands reffering to rulers">Datu</a> Lapu Lapu, Humabon's rival in the neighboring Mactan island. The battle ended Magellan's life and his journey to circumnavigate the globe with the surviving fleet returning to Spain. Twenty
              years later, the Spanish would return led by Ruy Lopez de Villalobos who named the islands Las Islas Filipinas, after King Philip II of Spain.</p>
          </div>
          <div class="time-period-img img-container" data-toggle="modal" data-target="#image-modal">
            <img class="img" src="Images/MactanBattle.jpg" alt="A painting at the Magellan Shrine in Cebu depicting the battle between Magellan and Lapu Lapu">
            <div class="img-caption">
              <h4>Battle of Mactan</h4>
              <p>Photo by: <a href="https://commons.wikimedia.org/wiki/File:MactanShrinePainting2.jpg" target="-_blank">Nmcast</a></p>
            </div>
          </div>

        </div>
      </div>

      <div class="carousel-item">
        <div class="time-period">
          <div class="time-period-description">
            <h3>1565 CE - 1898 CE</h3>
            <p>The Spanish Colonial Era began with the fifth expedition led by Miguel Lopez de Legazpi, who eventually became the Viceroy of the Spanish East Indies. Legazpi left Mexico with more weapons and men than previous excursions, though his
              initial contact with the Philippine islanders was peaceful. In 1565 he made blood compacts with the Datus and Rajahs of Bohol, Samar, Leyte, and Limawasa, creating friendly relations and trade opportunities. Legazpi made his way to
              Cebu and defeated the hostile Cebuanos, establishing the first fruitful Spanish colony. Afterward, the <a tabindex="0" class="italicized info-pop" role="button" data-toggle="popover" data-trigger="focus" data-content="According to local lore, it was a confederation of groups originally from Srivijaya (Modern-day Indonesia) founded by 10 datus led by the famed Datu Puti">Kedatuan of Madja-as</a> in the surrounding Visayan islands allied themselves with the Spanish in exchange for safety from the Muslim
              Moro raiders of Mindoro to the south. Following alliances and conquests would secure Spanish rule over most of the Philippine Islands for over 300 years, ending after the Spanish-American War.
            </p>
          </div>
          <div class="time-period-img img-container" data-toggle="modal" data-target="#image-modal">
            <img class="img" src="Images/ColonialMoraga.jpg" alt="The streets of Manila in 1901">
            <div class="img-caption">
              <h4>Plaza Moraga</h4>
              <p>PD-US-Expired</p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <a class="carousel-control-prev" href="#timelineCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#timelineCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</section>


<!-- Residences Section -->
<section class="residences">

  <h2>Filipino Groups By Residence</h2>

  <div class="residences-cards">
    <div class="card card-lowland" style="width: 18rem">
      <div class="img-container" data-toggle="modal" data-target="#image-modal">
        <img src="Images/Lowland.jpg" class="card-img-top img" alt="A coastal village lying below the mountains">
        <div class="img-caption">
          <h4>Coastal Village</h4>
        </div>
      </div>

      <div class="card-body">
        <h5 class="card-title">Lowland</h5>
        <p class="card-text">People who settled the coasts and plains. They came from diverse backgrounds and were skilled seafarers.
        </p>
        <a href="lowland" class="btn">Explore the Lowlands</a>
      </div>
    </div>

    <div class="card card-highland" style="width: 18rem">
      <div class="img-container" data-toggle="modal" data-target="#image-modal">
        <img src="Images/Highland.jpg" class="card-img-top img" alt="A village in the middle of rice terraces">
        <div class="img-caption">
          <h4>Mountain Village</h4>
        </div>
      </div>

      <div class="card-body">
        <h5 class="card-title">Highland</h5>
        <p class="card-text">The earliest settlers who initially settled the lowland but were driven to the mountains.</p>
        <a href="highland" class="btn">Explore the Highlands</a>
      </div>
    </div>
  </div>


</section>


<%- include('partials/footer') -%>
