<%- include('partials/header') -%>


<!-- Hero section -->
<section class="hero-landing">
  <div class="page-description">
    <h1 class="pageTitle">A Brief Look in Pre-Hispanic Filipino History</h1>
  </div>

</section>


<!-- Introduction Section -->
<section class="basic-info">
  <div class="introduction">
    <p> For more than 300 years, Spain ruled over the Philippines, influencing its culture through religion, food, and the names of places and people. During their reign, the Spanish tried to convert the natives' lives as much as possible and
      suppressed, sometimes destroyed, local practices. It's no surprise that most of what we know of the Pre-Hispanic Era Philippines is from Spanish conquistadors and secondary accounts from neighboring nations. Before colonization, the islands we
      now know as the Philippines were settled by several diverse groups of people. Despite Spanish efforts to impede local culture, native languages and essential practices survived, leading to about 175 Filipino ethnolinguistic groups existing
      today. Ethnolinguistic identity is vital to Filipino culture, so it's equally important to know about its history.</p>
  </div>

  <div id="timelineCarousel" class="carousel slide carousel-fade timeline" data-interval="false">
    <ol class="carousel-indicators">
      <li data-target="#timelineCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#timelineCarousel" data-slide-to="1"></li>
      <li data-target="#timelineCarousel" data-slide-to="2"></li>
      <li data-target="#timelineCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner general-padding">
      <div class="carousel-item active">
        <div class="time-period">
          <div class="time-period-description">
            <h3>Pre-History ➖ 900 CE</h3>
            <p>No written records exist for this period, but archaeological discoveries suggest the earliest humans arrived in the Philippine Islands as early as 700,000 years ago via land bridges. Not much is known about these early settlers. The
              most notable human remains found in the Philippines are the Callao Man, and the Tabon Man dated at 67,000 years old, and 16,500 years ago respectively. The more recent settlers are believed to have arrived partially via land bridges
              and short distance seafaring. It's also widely accepted that the ancestors of Filipino aboriginal groups such as the Aeta first came to the Philippines 30,000 years ago. </p>
          </div>
          <img src="Images/Laguna_Copperplate_Inscription.png" alt="">
        </div>
      </div>

      <div class="carousel-item">
        <div class="time-period">
          <div class="time-period-description">
            <h3>900 CE ➖ 1200 CE</h3>
            <p>Considered to be the start of the Philippines' written history. The oldest document found so far is the Laguna Copperplate Inscription dated at 900 CE. Scholars believe that the majority of the Philippine Islands' inhabitants at this
              time were immigrants or descendants of immigrants from the Malay peninsula arriving via Indonesia. The Philippines was part of Greater India, a series of empires, thalassocracies, polities, and independent states, all modeled after the
              Indian government and Hindu-Buddhist culture. Archaeological digs also suggest extensive trade with China.</p>
          </div>
          <img src="Images/Laguna_Copperplate_Inscription.png" alt="">
        </div>
      </div>

      <div class="carousel-item">
        <div class="time-period">
          <div class="time-period-description">
            <h3>1200 CE ➖ 1565 CE</h3>
            <p>The start of the spread of Islam and contact with Western cultures. Most Muslim sultanates were located in the islands to the south in the modern-day Mindanao region, though there were a few to the north in Luzon. The Spanish first
              arrived in 1521 with a fleet led by the Portuguese explorer Ferdinand Magellan. With the help of his Malay slave interpreter, Ferdinand converted Rajah Humabon of Cebu to Catholicism. The two parties struck a temporary alliance in
              exchange for the Spanish dealing with Datu Lapu Lapu, Humabon's rival in the neighboring Mactan island. The battle ended Magellan's life and his journey to circumnavigate the globe with the surviving fleet returning to Spain. Twenty
              years later, the Spanish would return led by Ruy Lopez de Villalobos who named the islands Las Islas Filipinas, after King Philip II of Spain.</p>
          </div>
          <img src="Images/Laguna_Copperplate_Inscription.png" alt="">
        </div>
      </div>

      <div class="carousel-item">
        <div class="time-period">
          <div class="time-period-description">
            <h3>1565 CE ➖ 1898 CE</h3>
            <p>The Spanish colonial era began with the fifth expedition led by Miguel Lopez de Legazpi, who eventually became the Viceroy of the Spanish East Indies. Legazpi left Mexico with more weapons and men than previous excursions, though his
              initial contact with the Philippine islanders was peaceful. In 1565 he made blood compacts with the Datus and Rajahs of Bohol, Samar, Leyte, and Limawasa, creating friendly relations and trade opportunities. Legazpi made his way to
              Cebu and defeated the hostile Cebuanos, establishing the first fruitful Spanish colony. Afterward, the Kedatuan of Madja-as in the surrounding Visayan islands allied themselves with the Spanish in exchange for safety from the Muslim
              Moro raiders of Mindoro to the south. Following alliances and conquests would secure Spanish rule over most of the Philippine Islands for over 300 years, ending after the Spanish-American war.
            </p>
          </div>
          <img src="Images/Laguna_Copperplate_Inscription.png" alt="">
        </div>
      </div>
    </div>

    <a class="carousel-control-prev" href="#timelineCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#timelineCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</section>


<!-- Residences Section -->
<section class="residences">

  <h2>Filipino Groups By Residence</h2>

  <div class="residences-cards">
    <div class="card card-lowland" style="width: 18rem;">
      <img src="Images/lowland-main-image.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Lowland</h5>
        <p class="card-text">People who settled the coasts and plains. They came from diverse backgrounds and were skilled seafarers.
        </p>
        <a href="lowland" class="btn btn-primary">Explore the Lowlands</a>
      </div>
    </div>

    <div class="card card-highland" style="width: 18rem;">
      <img src="Images/highland-main-image.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Highland</h5>
        <p class="card-text">The earliest settlers who initially settled the lowland but were driven to the mountains by immigrants who had superior numbers and weapons.</p>
        <a href="highland" class="btn btn-primary">Explore the Higlands</a>
      </div>
    </div>
  </div>


</section>


<%- include('partials/footer') -%>
