<%- include('partials/header') -%>

<section class="quiz">
  <div class="question-and-answer">
    <div class="question">
      <h1>Before you begin...</h1>
      <p>It's best to read through the rest of the website first.
        Using Google to look up the answers takes away all the fun. Good luck! 😃</p>
    </div>
    <form class="choices">

    </form>
    <button type="button" class="btn btn-lg submit-answer">Begin Quiz</button>
  </div>

</section>

<section class="feedback">

</section>



<%- include('partials/footer') -%>
