/* General Styles*/
/*These are styles found on all the pages */
body {
  font-size: 18px;
}

/* Typgraphy */
h1, h2, h3 {
  font-family: 'Playfair Display SC', serif;
}

p, a, li {
  font-family: 'Roboto', sans-serif;
}

/* Bootstrap Styles */
.btn {
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.card {
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.card-img-top {
  height: 200px;
}

.carousel-icons {
  background-color: gray;
  padding: 20px;
}

.general-padding {
  padding: 3% 10%;
}

.page-description {
  width: 55%;
  padding: 5%;
  padding-left: 10%;
}

/* Header Styles */
 .navbar-collapse {
  display: flex;
  flex-direction: column;
}

.nav-item {
  display: flex;
  align-items: center;
}

.dropdown{
  margin-right: 5px;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo img{
  height: 45px;
  width: 45px;
  display: block;
  margin: 0 auto;
}


/* Footer Styles */
footer {
  font-size: .85rem;
  background-color: gray;
  display: flex;
  justify-content: space-between;
  padding: 1% 10%;
}

.links {
  width: 16%;
}

footer ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.social-media {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.social-media i {
  font-size: 1.5rem;
}



/* Home Page Styles */
/* These are styles found on the home page */
.hero-landing {
  background-image: url("../Images/landing-image.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}

.basic-info {
  background-color: gray;
}

.introduction {
  padding: 3% 10% 0;
  text-align: center;
}

.time-period {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.time-period-description {
  width: 75%;
  margin-right: 15px;
}

.time-period-description p{
  height: 243px;
}

.time-period img {
  height: 200px;
}

.residences {
  padding: 3% 25%;
}

.residences h2 {
  text-align: center;
}

.residences-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5%;
}

.card-highland p{
  height: 108px;
}



/* Lowland Page Styles */
/* These are styles found on the lowland page */
.region-name {
  text-align: center;
  margin-bottom: 20px;
}

.lowland-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}

.lowland-group-images {
  width: 50%;
  margin: 0 15px 15px 0;
}

.lowland-group-img{
  width: 100%;
  height: auto;
}

.filipino-group-description {
  width: 50%;
}

.second-filipino-group {
  flex-direction: row-reverse;
}

.second-filipino-group .lowland-group-images {
  margin: 0 0 15px 15px;
}



/* Highland Page Styles */
/* These are styles found on the highland page */
.highland-people {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.highland-people-img-container {
  width: 50%;
}

.highland-people-img {
  width: 100%;
  height: 500px;
}

.highland-group-info, .highland-people-gallery {
  position: absolute;
}

.highland-button {
  position: relative;
  width: 150px;
  top: 83%;
  left: 20%;
}

.img-thumbnail {
  width: 150px;
  height: 150px;
  margin: 15px;
}

.img-thumbnail.left {
  margin-left: 0;
}

.gallery-row {
  display: flex;
  flex-direction: row;
}

.igorot {
  text-align: center;
  background-color: gray;
}

.igorot-description {
  height: 108px;
}

.igorot .general-padding {
  padding-bottom: 1.5%;
}

.igorot-img {
  width: 100%;
  height: 350px;
}

.palawan-intro {
  text-align: center;
  padding-bottom: .75%;
}

.palawan-container {
  padding: .75% 5% 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-palawan {
  width: 30%;
}

.card-palawan .card-img-top {
  height:300px;
}

/* Quiz Page Styles */
/* These are styles found on the quiz page */


/* About Page Styles */
/* These are styles found on the about page */
.about-page {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.my-photo {
  background-image: url("../Images/coastal-area.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
}

.about-description-container {
  width: 50%;
  display: flex;
  align-items: center;
}



/* Further Reading Styles  */
/* These are styles found on the Further Reading Page */
.resources {
  display: flex;
  justify-content: space-between;
}

.further-reading h1, .video-header {
  text-align: center;
  margin-bottom: 45px;
}

.resources, .videos h2 {
  margin-bottom: 30px;
}

.resources {
  display: flex;
  flex-direction: row;
}

.book {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.book img {
  width: 100px;
  height: 150px;
  margin-right: 15px;
}

.books, .online-articles {
  width: 45%;
}

.videos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.videos h3 {
  text-align: center;
}
